/* Styles that applies to the entire document,
   regardless of device size. */
* {
  box-sizing: border-box;
}

body {
  margin-left: 3%;
  margin-right: 3%;
}
h1 {
  text-align: center;
  font-size: 125%;
  margin-bottom: 3%;
}

section {
  background-color: #BBB;
  border: 1.5px black solid;
}

section.column-left {
  float: left;
  width: 30%;
}

section.column-middle {
  display: inline-block;
  margin-left: 5%;
  width: 30%;
}

section.column-right {
  float: right;
  width: 30%;
}

p.section-text {
  padding-top: 1.75%;
  padding-left: 1%;
}
.section-title {
  display: block;
  float: right;
  border: 1px solid black;
  padding: 2px;
  position: relative;
  left: 1px;
  top: -17px;
}

.column-left>.section-title {
  background-color: cyan;
}
.column-middle>.section-title {
  background-color: pink;
}
.column-right>.section-title {
  background-color: white;
}
/* MEDIA QUERIES
  <= 767px: mobile
  768...991px: tablet
  >= 992px: desktop */

@media (max-width: 991px) { /* Tablet */
  section.column-left {
    float: left;
    width: 47.5%;
  }

  section.column-middle {
    float: right;
    width: 47.5%;
  }

  section.column-right {
    display: block;
    width: 100%;
    margin-top: 3%;
  }
}


@media (max-width: 767px) { /* Mobile */
  * {
    margin-left, margin-right: 0%;
  }

  section.column-left, section.column-middle, section.column-right {
    width: 100%;
    display: inline-block;
    padding-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 1%;
    margin-top: 1%;
  }
}
