
/*  Make it look nicer */
.really-long-text {
  background-color: rgb(224, 224, 224);
  padding: 1%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 12px;
  border-radius: 10px;
  height: 1000px; /*  Force the page to scroll */
}

/*  Menu formatting. */

#bs-menu {
  background-color: rgb(192, 192, 192);
}

#bs-menu a {
  color: rgb(255, 255, 255);
}
